<!DOCTYPE html>
<html>
<head>
	<title>Shortn'</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="../javascripts/controllers/urlController.js"></script>
	<script src="../javascripts/services/urlFactory.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="UrlController">
	<div class="container">
		<div class="col-md-6">
			<h1>Shortn'</h1>
			<br>
			<form ng-submit="addUrl()">
				<label>Url:</label>
				<input type='text' ng-model="url">
				<br>
				<label>Shortened:</label>
				<input type='text' ng-model="link">
				<br>
				<button type='submit' class='btn btn-success btn-lg'>Shortn</button>
			</form>
			<h4>Urls</h4>
			<div ng-repeat="url in urls">
				<a ng-href="{{url.name}}">{{url.link}}</a>
			</div>
		</div>
	</div>
</body>
</html>
